version: '3'

services:
    auction-api:
        depends_on:
            - db
        build: ./src/auction-api
        image: auction-api:latest
        ports:
            - 8080:8080
        restart: always
        environment:
            - DATABASE_URL=postgres://postgres:password@db/postgres

    auction-frontend:
        depends_on:
            - auction-api
        build: ./src/auction-frontend
        image: auction-frontend:latest
        ports:
            - 80:80
        restart: always
    db:
        image: postgres:alpine
        restart: always
        ports:
            - 5432:5432
        environment:
            POSTGRES_PASSWORD: password
    adminer:
        image: adminer
        restart: always
        ports:
            - 8081:8080
