@import '~antd/dist/antd.less';

.App {
  text-align: center;
}

.login-form {
  margin: 5rem 0rem;
}

.login-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-form-username > .ant-form-item-label > label{
  font-size: 1rem;
}

.main-menu {
  text-align: center;
}

.main-content {
  padding: 24px;
}
